#region-center_works.container
  .region
    .region-title
      %h1= page_title!('Local')

  .region
    %p
      %b Nombre:
      = @center_work.name
    %p
      %b Departamento:
      = @center_work.deparment_id

  .region
    .admin-controls
      = link_to 'Editar', edit_center_work_path(@center_work), class: 'btn btn-success'
      = link_to 'Regresar', center_works_path, class: 'btn btn-warning'
