= form_for @user_turno, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @user_turno.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_turno.errors.count, "error")}"
      %ul
        - @user_turno.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :user_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :user_id, class: 'form-control'
  .form-group
    = f.label :turno_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :turno_id, class: 'form-control'
  .actions
    = f.submit 'Guardar', class: 'btn btn-default'
