.container
	%ol.breadcrumb
		%li= link_to "<span class='glyphicon glyphicon-home'></span> Tus Horarios".html_safe, inicios_path
		%li.active 
			%span.glyphicon.glyphicon-share-alt
			Roles de Acceso
	.page-header
		%h1 
			Roles de Acceso
			%small al sistema
	%table.table.table-condensed.table-hover.table-bordered
		%tr.well
			%td Id
			%th Nombres
			%th Email
			%th Area
			%th Usuario
			%th Admin
			%th Superadmin
		- i = @users.count
		- @users.each do |user|
			%tr
				%td= i
				%td
					= user.first_name.capitalize + ','
					= user.second_name.capitalize
				%td= user.area.try(:name)
				%td= user.email	
				- normal = 0
				- admin = 0
				- superadmin = 0
				- user.roles.each do |role|
					- if role.name == 'normal'
						- normal = normal + 1
					- if role.name == 'admin'							
						- admin = admin + 1
					- if role.name == 'superadmin'
						- superadmin = superadmin + 1
				- if normal > 0
					%td= link_to "Normal", quitar_assign_roles_path(:role_name => 'normal', :user_id => user.id), class: 'btn btn-primary'
				- else
					%td= link_to "Normal", asignar_assign_roles_path(:role_name => 'normal', :user_id => user.id), class: 'btn btn-default'

				- if admin > 0
					%td= link_to "Admin", quitar_assign_roles_path(:role_name => 'admin', :user_id => user.id), class: 'btn btn-primary'
				- else
					%td= link_to "Admin", asignar_assign_roles_path(:role_name => 'admin', :user_id => user.id), class: 'btn btn-default'

				- if superadmin > 0
					%td= link_to "Superadmin", quitar_assign_roles_path(:role_name => 'superadmin', :user_id => user.id), class: 'btn btn-primary'
				- else
					%td= link_to "Superadmin", asignar_assign_roles_path(:role_name => 'superadmin', :user_id => user.id), class: 'btn btn-default'
			- i = i-1
						

							

