.container
	.page-header
		%h1 Usuarios
	%table.table
		%tr
			%th Email			
			%th Usuario
			%th Admin
			%th Superadmin
		- @users.each do |user|
			%tr
				%td= user.email	
				- normal = 0
				- admin = 0
				- superadmin = 0
				- user.roles.each do |role|
					- if role.name == 'normal' 							
						- normal = normal + 1
					- if role.name == 'admin'							
						- admin = admin + 1						
					- if role.name == 'superadmin'							
						- superadmin = superadmin + 1
				- if normal > 0
					%td= link_to "Normal", "", class: 'btn btn-primary'
				- else
					%td= link_to "Normal", "", class: 'btn btn-default'
				- if admin > 0
					%td= link_to "Admin", "", class: 'btn btn-primary'
				- else
					%td= link_to "Admin", "", class: 'btn btn-default'
				- if superadmin > 0
					%td= link_to "Superadmin", "", class: 'btn btn-primary'
				- else
					%td= link_to "Superadmin", "", class: 'btn btn-default'
						

							

