#region-areas.container
  .region
    .page-header
      %h1= page_title!('Area')

  .region
    %p
      %b Nombre:
      = @area.name
    %p
      %b Center work:
      = @area.center_work.name

  .region
    .admin-controls
      = link_to 'Editar', edit_area_path(@area), class: 'btn btn-success'
      = link_to 'Regresar', areas_path, class: 'btn btn-warning'
