= form_for @deparment, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @deparment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@deparment.errors.count, "error")}"
      %ul
        - @deparment.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-3
      = f.text_field :name, class: 'form-control'
  .form-group
    .col-sm-2
    .col-sm-4  
      = f.submit 'Guardar', class: 'btn btn-default'
