#region-posts.container

  .region
    .region-title
      %h1= page_title!('posts')

    .region

      .admin-control
        = link_to 'Crear Post', new_post_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
            %th Nombre
            %th Apellidos
            %th
            %th
            %th

          - @posts.each do |post|
            %tr
              %td= post.nombre
              %td= post.apellidos
              %td= link_to 'Ver', post, class: 'btn btn-info'
             
              %td= link_to 'Editar', edit_post_path(post), class: 'btn btn-success'
              %td= link_to 'Eliminar', post, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
