= form_for @turno, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @turno.errors.any?
    #error_explanation
      %h2= "#{pluralize(@turno.errors.count, "error")}"
      %ul
        - @turno.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, class: 'col-sm-2 control-label'
    .col-sm-3
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :hora_entrada, class: 'col-sm-2 control-label'
    .col-sm-3
      = f.time_select :hora_entrada, class: 'form-control'
  .form-group
    = f.label :hora_salida, class: 'col-sm-2 control-label'
    .col-sm-3
      = f.time_select :hora_salida, class: 'form-control'
  .form-group
    = f.label :tolerance, class: 'col-sm-2 control-label'
    .col-sm-3
      = f.time_select :tolerance, class: 'form-control'
  .form-group
    .col-sm-2
    .col-sm-4  
      = f.submit 'Guardar', class: 'btn btn-default'
