#region-turnos.container
  .region
    .page-header
      %h1= page_title!('Turno')

  .region
    %p
      %b Title:
      = @turno.title
    %p
      %b Hora Entrada:
      = @turno.hora_entrada.strftime("%I:%M %p")
    %p
      %b Hora Salida:
      = @turno.hora_salida.strftime("%I:%M %p")
    %p
      %b Tolerance:
      = @turno.tolerance.strftime("%I:%M %p")

  .region
    .admin-controls
      = link_to 'Editar', edit_turno_path(@turno), class: 'btn btn-success'
      = link_to 'Regresar', turnos_path, class: 'btn btn-warning'
