.container
	.page-header
		%h1 Mensajes
	.row
		.col-sm-8
			%p
				- if params[:paridad] == '0'
					= raw(@registro.entrada_user_mensaje)
				- else
					= raw(@registro.salida_user_mensaje)
					
			= form_tag "add_superadmin_message" do
				= text_area_tag "comentario",nil, :rows => 3, :cols => 50, :class => 'form-control'
				= hidden_field_tag "paridad", nil, :value => params[:paridad]
				= hidden_field_tag "registro_id",nil, :value => params[:registro_id]
				%br
				= submit_tag "enviar", :class => 'btn btn-primary'
				= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, 'javascript:history.back(-1)', class: 'btn btn-warning'