%li= link_to "Departamentos", deparments_path
%li= link_to "Centro de Trabajo", center_works_path
%li= link_to "Areas", areas_path
%li= link_to "Turno", turnos_path
%li= link_to "UserTurnos", user_turnos_path

%li= link_to "Admins", admins_path
%li= link_to "Asignar Roles", assign_roles_path
