.authform
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f|
    %h3 Registro de Usuario
    = devise_error_messages!
    .form-group
      = f.label :nombre
      = f.text_field :first_name, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :apellido
      = f.text_field :second_name, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :mac_pc
      = f.text_field :mac, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :area
      = f.select :area_id, Area.all.collect{|x| [x.name, x.id]}, {:include_blank => 'Seleccione'}, :autofocusss => true, class: 'form-control'
    .form-group
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: 'form-control'
    = f.submit 'Registrar', class: 'button right'
